@page "/ListDXNTC"
@using Shared.Model
@using System.Globalization
@layout AdminLayout
@attribute [Authorize]

<div class="row" style="margin-top:-50px;">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Đơn yêu cầu đã từ chối </h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Add width to ensure consistent positioning -->
                    <EditForm Model="Inputkq" method="post" OnValidSubmit="timkiem" FormName="register">
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger" role="alert" />
                        <InputText @bind-Value="Inputkq" placeholder="tìm kiếm" class="input-search" style="height:40px;border-radius:5px;width:250px;" />
                        <ValidationMessage For="() => Inputkq" class="text-danger" />
                        <button type="submit" class=" btn btn-success btn-search" style="background-color: #007eff;"><i class="fas fa-search"></i></button> <!-- Updated button class -->
                    </EditForm>
                    <div class="col-md-12">
                        <div class="card">

                            @if (!AllDXN.Any())
                            {
                                <p><em>Loading ...</em></p>
                            }
                            @if (AllDXN.Any())
                            {
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Id Đơn</th>
                                                    <th>Họ Tên Khách Hàng</th>
                                                    <th>Lý do</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var DXN in AllDXN)
                                                {
                                                    <tr>
                                                        <td>@DXN.Id</td>
                                                        <td>@loadhoten(DXN.UserId)</td>
                                                        <td>@loadTC(@DXN.Id)</td>
                                                        <td>
                                                            <a class="btn btn-dark" href="/ChitietDXNTC/@DXN.Id"> Chi tiết </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"> There is not DXN List Availlable</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<DonXetNghiem> AllDXN { get; set; } = new();
    public List<GoiXetNghiem> allGXN { get; set; } = new();
    public List<User> allUser { get; set; } = new();
    public List<TuChoi> allTC { get; set; } = new();

    [SupplyParameterFromForm]
    public String Inputkq { get; set; } = new("");

    protected override async Task OnInitializedAsync()
    {
        await checkbs();
        await LoadAlLStudents();
        allGXN = await GXNservice.getallAsync();
        allUser = await Usertservice.getalluserAsync();
        allTC = await TCservice.getallAsync();
    }
    public async Task checkbs()
    {
        var authState = await checkbss.GetAuthenticationStateAsync();
        var UserName = authState.User.Identity.Name;
        var bs = await bacsiservice.getbyemail(UserName);
        if (bs == null)
        {
            navigation.NavigateTo("/err");
        }
    }
    public async Task LoadAlLStudents()
    {
        // var students = await GenericService.GetAllAsync(student, "api/Student/All-Students");
        var DXN = await DXNservice.getallAsync();
        AllDXN.Clear();

        if (DXN is null) return;
        foreach (var student in DXN)
        {
            if (student.Trangthai == "Từ Chối")
            {
                AllDXN.Add(student);
            }
        }
    }
    public String loadGXN(int id)
    {
        foreach (var gxn in allGXN)
        {
            if (gxn.Id == id)
            {
                return gxn.TenGoi;
            }
        }
        return null;
    }
    public String loadhoten(int id)
    {
        foreach (var us in allUser)
        {
            if (us.Id == id)
            {
                return us.Hoten;
            }
        }
        return null;
    }
    public String loadTC(int id)
    {
        foreach (var us in allTC)
        {
            if (us.DonXetNghiemId == id)
            {
                return us.Lydo;
            }
        }
        return null;
    }
    private async Task timkiem()
    {
        if (string.IsNullOrEmpty(Inputkq))
        {
            await LoadAlLStudents(); // Load all students if search query is empty
        }
        else
        {
            // Define array of formats to parse the search query
            string[] formats = { "dd/MM/yyyy", "d/M/yyyy" };

            // Parse the search query as a date with multiple formats
            if (DateTime.TryParseExact(Inputkq, formats, CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime searchDate))
            {
                // Filter AllDXN based on the search date
                AllDXN = AllDXN.Where(dx => dx.Ngaydat.Date == searchDate.Date).ToList();
            }
            else
            {
                // Filter AllDXN based on customer's name or doctor's name
                AllDXN = AllDXN.Where(dx => loadhoten(dx.UserId).Contains(Inputkq, StringComparison.OrdinalIgnoreCase)
                                             ).ToList();
            }
        }
    }
}