/* Customize card styles */
.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    margin: 0.3rem auto;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.8rem;
    }
}

.card-header {
    background-color: #3c8eac;
}

.card-title {
    margin-bottom: 0;
    color: #fff;
}

.card-body {
    padding: 20px;
}

/* Table styles */
.table {
    width: 100%;
    margin-bottom: 0;
    background-color: #fff;
}

    .table thead th {
        border-bottom: 2px solid #ddd;
        background-color: #6ab1cb;
        color: #fff;
    }

    .table th, .table td {
        padding: 12px;
        vertical-align: middle;
    }


body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #007bff; /* Màu nền header */
    color: #fff; /* Màu chữ */
    padding: 20px;
}

.menu {
    background-color: #f8f9fa; /* Màu nền menu */
    padding: 10px;
}

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        display: inline;
        margin-right: 20px;
    }

        .menu li a {
            color: #333; /* Màu chữ menu */
            text-decoration: none;
        }

/* Định dạng phần nội dung */
.content {
    padding: 20px;
}

/* Định dạng footer */
.footer {
    background-color: #333; /* Màu nền footer */
    color: #fff; /* Màu chữ */
    padding: 20px;
    text-align: center;
}

/* Bộ lọc*/

.filter-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

    .filter-container.active {
        background-color: #007bff;
    }

    .filter-container a {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #fff;
    }

.filter-image {
    margin-left: 10px;
    max-width: 50px;
    height: 50px;
}

.filter-container .btn {
    background-color: #3498db; /* Màu nền của nút */
    color: #ffffff; /* Màu chữ trắng */
    border-radius: 5px; /* Bo tròn các góc của nút */
    padding: 10px 20px; /* Kích thước lề bên trong nút */
    border: none; /* Loại bỏ viền */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

.filter-container .filter-image {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.filter-container .btn:hover {
    background-color: #2980b9;
}
/*form timkiem*/

/* Đảm bảo nút "Bỏ lọc" và thanh ngang nằm trên cùng một dòng */
.actions {
    display: flex;
    align-items: center;
}

.row {
    margin-bottom: 80px;
}
/* Đặt khoảng cách giữa nút và thanh ngang */
.btn-remove {
    margin-right: 10px; /* Điều chỉnh khoảng cách theo ý muốn */
}
/* Tùy chỉnh thanh tìm kiếm */
.search-container {
    position: relative;
}

    .search-container input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .search-container button {
        padding: 8px 15px;
        margin-left: 5px;
    }

    /* Nếu bạn muốn làm cho thanh tìm kiếm và nút nhấn cùng chiều cao */
    .search-container input, .search-container button {
        height: 38px; /* Điều chỉnh chiều cao theo ý muốn */
    }
/* Đảm bảo các thành phần nằm trên cùng một hàng */
.row.align-items-center {
    display: flex;
}

/* Điều chỉnh khoảng cách giữa các thành phần */
.form-group {
    margin-right: 10px; /* Điều chỉnh khoảng cách theo ý muốn */
}

/* Đảm bảo nút "Tìm kiếm" và "Bỏ lọc" có cùng chiều cao */
.search-container button {
    height: 38px; /* Điều chỉnh chiều cao theo ý muốn */
}

    /* Điều chỉnh khoảng cách giữa các nút trong thanh tìm kiếm */
    .search-container button:not(:last-child) {
        margin-right: 5px;
    }
