
.profile-image {
    max-width: 100%;
    border-radius: 50%;
}

.profile-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 60px; /* Khoảng cách từ trên xuống */
}

.btn-primary,
.btn-secondary {
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BEBEBE;
    color: #fff;
    border: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .btn-secondary:hover {
        background-color: #ff2c02;
        color: #fff;
    }

    .btn-primary:hover {
        background-color: #3db500;
        color: #fff;
    }

Đang hiển thị 3577206278591584302.
