.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.col-sm-8 {
    flex: 0 0 66.66667%; /* Width of 8 columns out of 12 */
    max-width: 66.66667%;
    padding: 0 15px;
}

.card {
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    padding: 1.25rem;
    color: #0f1217;
}

    .card-body a {
        color: inherit;
        text-decoration: none;
    }

        .card-body a:hover {
            color: #0f1217;
            text-decoration: underline;
        }
/* For small screens (e.g., mobile phones) */
@media (max-width: 576px) {
    .col-sm-8 {
        flex: 0 0 100%; /* Full width for small screens */
        max-width: 100%;
    }
}
