/* CSS cho phần quản lý bác sĩ */
.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
}

.card-body {
    padding: 20px;
}

.btn {
    margin-right: 10px;
}

.table {
    width: 100%;
}

    .table th, .table td {
        padding: 8px;
        overflow: hidden; /* Tránh tràn nội dung ra ngoài */
        text-overflow: ellipsis; /* Cắt bớt nội dung dài và thêm dấu ... */
        /* white-space: nowrap; */ /* Ngăn chặn từng từ xuống dòng */
    }

    .table th {
        background-color: #f2f2f2;
        text-align: left;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

    .alert-info a {
        color: #0c5460;
        font-weight: bold;
    }

/* Điều chỉnh kích thước của ảnh */
.table img {
    max-width: 50px; /* Đặt chiều rộng tối đa của ảnh là 50px */
    max-height: 50px; /* Đặt chiều cao tối đa của ảnh là 50px */
}

.table {
    width: 100%;
    table-layout: fixed; /* Giữ nguyên chiều rộng của các cột */
}
