@page "/camon/{id:int}"
@using Append.Blazor.Printing
@inject IPrintingService PrintingService
@rendermode InteractiveAuto
@using System.Security.Claims
@attribute [Authorize]
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Cảm ơn <strong>@user.Hoten</strong>  đã đặt lịch</h5>
        <p class="card-text">Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất</p>
        <img style="width:40px" src="tich.webp">
        <br>
        <button class="btn btn-success" @onclick="@(_ => PrintingService.Print(rawHtml, PrintType.RawHtml))">
            Phiếu Thu
        </button>
        @if (tt.DaTT2 != null)
        {
            <a href="XCTDon/@id"><button class="btn btn-info mx-3">Xem Đơn</button></a>
        }
    </div>
</div>
<br>
<div class="container mt-5 d-flex align-items-center justify-content-center datlich-container">
    <div class="card1 mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <h3>Quy Trình Thực Hiện</h3>
            <div class="col-md-8">
                <img src="9.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
                <div class="card1-body d-grid gap-4">
                    <div class="card2 p-2">
                        <div class="card-header">
                            <h5 class="card-title1">Đặt lịch</h5>
                        </div>
                        <div class="card-body1">
                            <p class="card-text1"> - Đặt trực tiếp website </p>
                            <p class="card-text1"> - Liện hệ 0988999999</p>
                        </div>
                    </div>
                    <div class="card2 p-2">
                        <div class="card-header">
                            <h5 class="card-title1">Lấy mẫu</h5>
                        </div>
                        <div class="card-body1">
                            <p class="card-text1">Đội ngũ Y tế trực tiếp lấy mẫu tại nhà.</p>
                        </div>
                    </div>
                    <div class="card2 p-2">
                        <div class="card-header ">
                            <h5 class="card-title1">Trả kết quả</h5>
                        </div>
                        <div class="card-body1">
                            <p class="card-text1">Kết quả sẽ gửi đến bạn ngay khi xét nghiệm có kết quả.</p>
                        </div>
                    </div>
                    <div class="card2 p-2">
                        <div class="card-header ">
                            <h5 class="card-title1">Tư vấn</h5>
                        </div>
                        <div class="card-body1">
                            <p class="card-text1">Đội ngũ chuyên nghiệp tư vấn trực tiếp - nhanh chóng.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private User user = new User();
    public DonXetNghiem Input { get; set; } = new();
    public List<GoiXetNghiem> allGXN { get; set; } = new();
    public List<GoiXetNghiem> gxndachon { get; set; } = new();
    public List<DXNandGXN> dxn { get; set; } = new();
    public long tongtien = 0;
    string rawHtml = "";
    public ThanhToan tt { get; set; } = new ThanhToan();
    int stt = 0;
    long datt, datt2;
    DateTime ngaytt;
    string ttngay = "";
    protected override async Task OnInitializedAsync()
    {
        Input = await DXNservice.getbyid(id);
        user = await Usertservice.getuserbyid(Input.UserId);
        allGXN = await GXNservice.getallAsync();
        dxn = await DXNservice.getallGXNAsync(id);
        tt = await TTservice.getbyidDXNAsync(id);
        datt = tt.DaTT1 ?? 0;
        ngaytt = tt.NgayTT1 ?? DateTime.Now;
        if (tt.DaTT2 != null)
        {
            datt2 = tt.DaTT2 ?? 0;
            ngaytt = tt.NgayTT2 ?? DateTime.Now;
        }
        loadgxndachon();
        ttngay = ngaytt.ToString("dd/MM/yyyy");
        rawHtml = "<h3>CÔNG TY TNHH GIẢI PHÁP PHẦN MỀM ÂU LẠC</h1>" +
            "<h2 style=\"text-align: center;\">PHIẾU THU</h2>" +
            "<p style=\"text-align: center;\">Ngày: " + ngaytt + " -- Số hóa đơn:" + tt.Id + "</p>" +
            "<p> <span style=\"float: left;\">Họ Tên:" + user.Hoten +
            "</span><span style=\"float: right;\">Giới Tính: " + gioitinh(user.Gioitinh) + "</span></p>" +
            "<br><p >Địa Chỉ: " + user.Diachi + "</p>" +
            "<table style=\"text-align: center;width:100%;border-collapse: collapse; border: 1px solid black;\">" +
            "<thead>" +
            "<tr>" +
            "<th style=\"border: 1px solid black;\">STT</th>" +
            "<th style=\"border: 1px solid black;\">Tên Gói</th>" +
            "<th style=\"border: 1px solid black;\">Đơn vị</th>" +
            "<th style=\"border: 1px solid black;\">Số Lượng</th>" +
            "<th style=\"border: 1px solid black;\">Số Tiền</th>" +
            "</tr>" +
            "</thead>";

        foreach (var goi in gxndachon)
        {
            stt++;
            rawHtml += "<tr>" +
                       "<td style=\"border: 1px solid black;\">" + stt + "</td>" +
                       "<td style=\"border: 1px solid black;\">" + goi.TenGoi + "</td>" +
                       "<td style=\"border: 1px solid black;\">gói</td>" +
                       "<td style=\"border: 1px solid black;\">1</td>" +
                       "<td style=\"border: 1px solid black;\">" + goi.Gia + "</td>" +
                       "</tr>";
        }

        if (tt.DaTT2 == null)
        {
            rawHtml += "</table>" +
                   "<p>Tổng Thành Tiền: " + tongtien + "VND ------ Bằng Chữ:" + ConvertNumberToWords(tongtien) + " Đồng</p>" +
                    "<p>Số Tiền Đã Thanh Toán: " + tt.DaTT1 + "VND ------ Bằng Chữ:" + ConvertNumberToWords(datt) + " Đồng</p>"
                   ;
        }
        else
        {
            rawHtml += "</table>" +
                   "<p>Tổng Thành Tiền: " + tongtien + "VND ------ Bằng Chữ:" + ConvertNumberToWords(tongtien) + " Đồng</p>" +
                    "<p>Số Tiền Đã Thanh Toán Lần 1: " + tt.DaTT1 + "VND ------ Bằng Chữ:" + ConvertNumberToWords(datt) + " Đồng</p>" +
                    "<p>Ngày Thanh Toán lần 1: " + tt.NgayTT1 + "</p>" +
                    "<p>Số Tiền Đã Thanh Toán Lần 2: " + tt.DaTT2 + "VND ------ Bằng Chữ:" + ConvertNumberToWords(datt2) + " Đồng</p>"
                    + "<p>Ngày Thanh Toán lần 2: " + tt.NgayTT2 + "</p>";
        }


    }
    private void loadgxndachon()
    {
        foreach (var a in dxn)
        {

            foreach (var b in allGXN)
            {
                if (b.Id == a.GoiXetNghiemId)
                {
                    gxndachon.Add(b);
                    tongtien += b.Gia;
                }
            }
        }
    }
    private String gioitinh(bool a)
    {
        if (a)
        {
            return "Nam";
        }
        else
        {
            return "Nữ";
        }
    }
    static string[] ones = { "", "một", "hai", "ba", "bốn", "năm", "sáu", "bảy", "tám", "chín" };
    static string[] teens = { "", "mười", "mười một", "mười hai", "mười ba", "mười bốn", "mười lăm", "mười sáu", "mười bảy", "mười tám", "mười chín" };
    static string[] tens = { "", "mười", "hai mươi", "ba mươi", "bốn mươi", "năm mươi", "sáu mươi", "bảy mươi", "tám mươi", "chín mươi" };
    static string ConvertNumberToWords(long number)
    {
        if (number < 10)
            return ones[number];
        else if (number < 20)
            return teens[number - 10];
        else if (number < 100)
            return tens[number / 10] + " " + ones[number % 10];
        else if (number < 1000)
            return ones[number / 100] + " trăm " + ConvertNumberToWords(number % 100);
        else if (number < 1000000)
            return ConvertNumberToWords(number / 1000) + " nghìn " + ConvertNumberToWords(number % 1000);
        else if (number < 1000000000)
            return ConvertNumberToWords(number / 1000000) + " triệu " + ConvertNumberToWords(number % 1000000);
        else
            return ConvertNumberToWords(number / 1000000000) + " tỷ " + ConvertNumberToWords(number % 1000000000);
    }
}

