
/* Modal Header */
.modal-header {
    background-color: #007bff; /* Header background color */
    color: #fff; /* Header text color */
    border-bottom: none; /* Remove bottom border */
    border-radius: 5px 5px 0 0; /* Rounded corners */
}

    .modal-header .modal-title {
        font-weight: bold; /* Bold modal title */
    }

/* Modal Body */
.modal-body {
    padding: 20px; /* Add padding */
}

/* Modal Footer */
.modal-footer {
    background-color: #f8f9fa; /* Footer background color */
    border-top: none; /* Remove top border */
    border-radius: 0 0 5px 5px; /* Rounded corners */
}

/* Close Button */
.close {
    color: #fff; /* Close button color */
    opacity: 1; /* Make the close button fully visible */
    transition: opacity 0.2s ease; /* Add transition effect */
}

    .close:hover {
        opacity: 0.8; /* Reduce opacity on hover */
    }

.background-container {
    background-size: cover; /* Đảm bảo hình nền che phủ đầy đủ phần container */
    background-position: center; /* Đặt vị trí hình nền ở giữa container */
}

.justify-content-center {
    width: 100%;
    height: 300px;
    margin-left: 20px;
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 5px;
}

.row {
    display: flex;
    align-items: center; /* Căn chỉnh các phần tử theo chiều dọc vào giữa container */
    justify-content: flex-start; /* Đẩy nội dung về phía bên trái */
}

.col-md-6 {
    text-align: left; /* Đảm bảo văn bản bên trong cột được căn chỉnh về phía bên trái */
    margin-right: auto;
}

/*goi xet nghiem*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Điều chỉnh độ mờ của overlay tại đây */
    background-image: url('imgchitietgoi/hinhnen1.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 8rem;
    text-align: center;
}

.package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 25rem;
    margin-top: 40px;
    height: 400px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.package-item {
    width: 100%;
    max-width: 2000px;
    margin-bottom: 30px;
    margin: auto;
}

.package-item-detail {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    padding: 20px;
    flex: 1;
}

.package-item-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.package-item-price {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #FFF;
    background-color: #4da5ff;
    height: 50px;
    width: 220px;
    border-radius: 6px;
    text-align: center;
    margin-right: auto;
    padding: 7px;
}

.package-item-gender {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: auto;
}



.package-item-gender, .package-item-age, .package-item-address {
    line-height: 20px;
    font-weight: 400;
    background-position: left top;
}

.package-item-gender, .package-item-age, .package-item-address {
    color: #132432;
    font-weight: 500;
    line-height: 24px;
    margin-right: 24px;
    padding-left: 26px;
    background-position: left top 2px;
    background-repeat: no-repeat;
    white-space: nowrap;
}

.price-box {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.package-item-photo {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

    .package-item-photo img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }


.custom-link {
    flex-grow: 1; /* Chia đều không gian còn lại */
    cursor: pointer;
    font-size: 16px;
    /* Canh giữa nội dung */
    padding: 3px; /* Tùy chỉnh khoảng cách giữa các liên kết */
}

.circle-icon {
    font-size: 12px; /* Điều chỉnh kích thước của biểu tượng */
    margin-right: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
}
/*thong tin gói xét nghiem*/
.package-details-description .row .col-md-6 {
    padding: 0 30px;
    margin-bottom: 50px;
}

.package-details-description h2 {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 2.6;
    margin: 0 0 16px;
    color: #132432;
}

.package-details-description .information {
    border-radius: 8px;
    border: 1px solid #1D93E3;
    background-color: #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-collapse: separate;
    text-indent: initial;
}

package-details-description .table {
    font-size: 12px;
    line-height: 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #132432;
    margin: 0;
}

th {
    text-align: left;
}

td, th {
    padding: 0;
}

.package-details-description h2 {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    margin: 0 0 16px;
    color: #132432;
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
}

h2, .h2 {
    font-size: 30px;
}

strong {
    font-weight: bold;
}

.package-details-description {
    border-bottom: 1px solid rgba(166, 166, 166, 0.6);
    padding-bottom: 18px;
    margin-bottom: 80px;
    color: #534E56;
    font-weight: 500;
    font-size: 16px;
    font-size: 14px;
    margin-bottom: 32px;
    padding-bottom: 5px;
    line-height: 1.71;
}

Đang hiển thị 8196262458700635168.
