@inject NavigationManager NavigationManager
<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand"><img src="logoaulac.png"></a>

            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>

            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">     
                    <AuthorizeView>
                        <Authorized>
                            <li><a href="Duyetdon" class="nav-item nav-link">Duyệt đơn</a></li>
                            <li><a href="DXNBS" class="nav-item nav-link">Đơn cần lấy mẫu</a></li>
                            <li><a href="ListchoXN" class="nav-item nav-link">Xác nhận mẫu</a></li>
                            <li><a href="listDXNKQ" class="nav-item nav-link">Trả kết quả</a></li>
                            <li class="dropdown ">
                                <a class="nav-item nav-link" data-toggle="dropdown">Quản lý</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/ListDXNDD">Đơn đã duyệt</a>
                                    <a class="dropdown-item" href="/ListDXNTC">Đơn bị từ chối</a>
                                    <a class="dropdown-item" href="/listBS">Bác sĩ</a>
                                    <a class="dropdown-item" href="/listGXN">Gói xét nghiệm</a>
                                    <a class="dropdown-item" href="/listdscoKQ">Kết quả</a>
                                    <a class="dropdown-item" href="/listTV">Tư Vấn</a>
                                    <a class="dropdown-item" href="/trangchuthongke">Thống kê</a>
                                    <a class="dropdown-item" href="/Capquyen">Cấp quyền</a>
                                    <a class="dropdown-item" href="/Danhmuc">Danh mục</a>
                                </div>
                            </li>
                            <li>
                                <a href="listchatBS" class="nav-item nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                        <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                        <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2" />
                                    </svg>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-item nav-link" data-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/SuattBS">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="/Account/Manage/ChangePassword">Đổi Mật Khẩu</a>
                                    <form action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="#home" />
                                        <button class="dropdown-item" type="submit">
                                            Đăng Xuất
                                        </button>
                                    </form>
                                </div>
                            </li>


                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div class="container">
        </div>
    </div>
</header>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
