<div class="main">
	<div class="menu">
		<a class="nav-item" style="padding: 1rem 1.5rem 1rem .5rem;" href="#">
			<img src="https://img.icons8.com/fluency-systems-regular/48/000000/home.png" width="28px" height="28px" />
		</a>
		<a class="nav-item" href="/Datlich">
			<img src="icondatlich.png" width="28px" height="28px" />
		</a>
		<a class="nav-item" href="/DichVuXetNghiem">
			<img src="icondichvu1.png" width="28px" height="28px" />
		</a>
		<a class="nav-item" href="/giohangdxn">
			<img src="icongiohang.png" width="28px" height="28px" />
		</a>
		<a class="nav-item" style="padding: 1rem .5rem 1rem 1.5rem;" href="/Userlist">
			<img src="https://img.icons8.com/fluency-systems-regular/48/000000/user.png" width="28px" height="28px" />
		</a>
	</div>
</div>
