@page "/print"
@rendermode InteractiveAuto
@using Append.Blazor.Printing
@inject IPrintingService PrintingService

<button class="btn btn-primary" @onclick="PrintCombinedContent">In Nội dung Kết Hợp</button>

@code {
    private string rawHtml1 = "<h1>Nội dung 1</h1><p>Đây là nội dung của trang 1</p>";
    private string rawHtml2 = "<h1>Nội dung 2</h1><p>Đây là nội dung của trang 2</p>";
    private async Task PrintCombinedContent()
    {
        string combinedContent = rawHtml1 + rawHtml2;
        await PrintingService.Print(combinedContent, PrintType.RawHtml);
    }
}
<script>
    var printOptions: any = {
	printable: this.modeloFactura,
	type: 'raw-html',
	documentTitle: 'Factura',
	maxWidth: 210,
	maxHeight: 110,

};
</script>
