@page "/DSbantin"
@rendermode InteractiveAuto
@inject NavigationManager navigation;

<div class="container d-flex align-items-center justify-content-center" style="margin-bottom:25rem;">
    <div class="card-body overlay">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h4>
                    Bản Tin 
                </h4>
            </div>
        </div>

    </div>
</div>

<!-- tìm kiếm các gói dịch vụ-->
<div class="row">
    <div class="col-sm-3">
        <div class="input-group">
            <input @bind="noidungtk" @bind:event="oninput" type="text" class="form-control" @onkeypress="nhan" />
            <div class="input-group-append">
                <button @onclick="tk" class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-TdiRl2jghoJm7DoywpSWLFKtDXlU6XsHZ63sC95+ZUzmjTtQJCphgo7e2Wt5K6ZMWTgRtVTQJnFie9GPXtJ/+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="col-sm-9">
        @if (allbantin.Any())
        {
            @foreach (var bt in allbantin)
            {
                <div class="blog-card" @onclick="()=>click(bt.Id)">
                    <div class="meta">
                        <div class="photo" style="background-image: url(@bt.img)"></div>
                        <ul class="details">
                            <li class="author"><i class="fas fa-user-alt"></i> <a href="#">Âu Lạc</a></li>

                            <li class="date"><i class="far fa-calendar"></i> @bt.ngayviet.ToString("dd/MM/yyyy")</li> <!-- FontAwesome icon for calendar -->
                        </ul>
                    </div>
                    <div class="description">
                        <h1>@bt.title</h1>
                        <h2></h2>
                        <p> </p>
                        <p class="read-more">
                            <a href="#">Read More <i class=" fas fa-arrow-right"></i></a>
                        </p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Rỗng !!!</p>
        }
    </div>
</div>
@code {
    string noidungtk = "";
    public List<Bantin> allbantin { get; set; } = new();
    public List<Bantin> allBT { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        allbantin = await BTinservice.getallAsync();
        allbantin.Reverse();
        allBT = allbantin;
    }
    public void tk()
    {
        allbantin = allBT;
        allbantin = allbantin.Where(b => b.title.Contains(noidungtk) || b.noidung.Contains(noidungtk)).ToList();
    }
    public void nhan(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            tk();
        }
    }
    public void click(int id)
    {
        navigation.NavigateTo("/xembt/" + id);
    }
}
