@page "/lala"
@rendermode InteractiveAuto
@using BlazorBarcodeScanner.ZXing.JS

<script src="_content/BlazorBarcodeScanner.ZXing.JS/zxingjs.index.min.js"></script>
<script src="_content/BlazorBarcodeScanner.ZXing.JS/BlazorBarcodeScanner.js"></script>
<h1>@LocalBarcodeText</h1>
<BlazorBarcodeScanner.ZXing.JS.BarcodeReader Title="Quét Mã"
                                             StartCameraAutomatically="true"
                                             ShowStart="true"
                                             ShowReset="true"
                                             ShowToggleTorch="true"
                                             ShowVideoDeviceList="true"
                                             VideoWidth="300"
                                             VideoHeight="200" 
                                             OnBarcodeReceived="LocalReceivedBarcodeText" />
@code{
    private string LocalBarcodeText="";

    private void LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        this.LocalBarcodeText = args.BarcodeText;
        StateHasChanged();
    }
}
<script>
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            // Thực hiện các thao tác sau khi người dùng chấp nhận quyền truy cập vào camera
        })
        .catch(function (error) {
            // Xử lý lỗi khi người dùng từ chối quyền truy cập hoặc có lỗi khác
            console.log("Lỗi khi yêu cầu quyền truy cập vào camera: ", error);
        });

</script>