@page "/lala"
@rendermode InteractiveAuto
@inject HttpClient HttpClient
@using Microsoft.AspNetCore.Components.Forms
<h3>Upload Image</h3>

<InputFile id="fileInput" class="form-control mt-2" OnChange="@HandleFileSelected" accept="image/*" style="display: none;" multiple />
<button type="button" onclick="document.getElementById('fileInput').click()">Chọn hình ảnh</button>




@if (uploadStatus != null)
{
    <div>@uploadStatus</div>
}

@code {
    private string uploadStatus;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        
        if (file != null)
        {
            var content = new MultipartFormDataContent();
            content.Add(new StreamContent(file.OpenReadStream()), "file", file.Name);

            var response = await HttpClient.PostAsync("/api/images/upload", content);

            if (response.IsSuccessStatusCode)
            {
                var imageUrl = await response.Content.ReadAsStringAsync();
                uploadStatus = $"Image uploaded successfully. Image URL: {imageUrl}";
            }
            else
            {
                uploadStatus = "Failed to upload image.";
            }
        }
    }


}