.chat-container {
    max-height: 250px; /* Thay đổi giá trị tối đa theo nhu cầu của bạn */
    overflow-y: auto;
}
.modal-content {
   width:900px;
}
.card-container {
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.card {
    flex: 1;
    margin-bottom: 10px;
}

.card-right {
    margin-left: auto;
}
/* Thiết lập màu sắc và font chữ */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.chat-container {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-right {
    background-color: #c2f0fc;
    margin-left: auto;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.card {
    flex: 1;
    margin-bottom: 10px;
    max-width: 70%; /* Thêm giới hạn chiều rộng tối đa */
}

.card-right {
    margin-left: auto;
    max-width: 70%; /* Áp dụng cùng một giới hạn cho tin nhắn của người gửi */
}

input.form-control {
    width: 100%; /* Giảm chiều rộng của ô nhập liệu */
    margin-right: 5px; /* Khoảng cách giữa ô nhập liệu và nút gửi */
}

button {
    width: 100%; /* Đặt chiều rộng của nút gửi */
}
/* General styles for responsiveness */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-sm-3, .col-sm-8 {
        width: 100%;
    }

    .card, .card-right {
        max-width: 100%; /* Set the maximum width to 100% for mobile devices */
    }

    input[type="text"] {
        width: calc(100% - 20px); /* Adjust the width of the input field */
        margin-right: 0; /* Remove margin-right for better alignment */
        margin-bottom: 10px; /* Add margin-bottom for spacing between input and button */
    }

    button {
        width: calc(100% - 20px); /* Adjust the width of the button */
        margin-right: 0; /* Remove margin-right for better alignment */
    }
    .modal-content {
        width: 90%; /* Đặt chiều rộng của nội dung modal thành 90% của màn hình */
        margin: 10% auto; /* Căn giữa theo chiều ngang và dọc */
    }

    .modal-header {
        padding: 10px; /* Đặt padding nhỏ hơn cho phần header */
    }

    .modal-title {
        font-size: 20px; /* Đặt kích thước chữ lớn hơn cho tiêu đề */
    }

    .modal-body {
        padding: 10px; /* Đặt padding nhỏ hơn cho phần nội dung */
    }

    .modal-footer {
        padding: 10px; /* Đặt padding nhỏ hơn cho phần footer */
    }

}
