h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    font-style: normal;
    color: #007bff;
    margin: 0.3rem auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}
