@inherits LayoutComponentBase
@layout AccountLayout

<h1>Quản lý account</h1>

<div>
    <h2>Đổi mật khẩu</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
