
/*Thêm thông báo*/
.notification-popup {
    position: fixed;
    top: 150px; /* Đặt khoảng cách trên cùng */
    right: 0; /* Đặt vị trí bên phải */
    width: 300px;
    max-height: 200px; /* Đặt chiều cao tối đa của phần card */
    overflow-y: auto; /* Tạo thanh cuộn dọc */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1; /* Đảm bảo bảng thông báo hiển thị trên các phần tử khác */
}

.notification-icon {
    position: fixed;
    top: 90px; /* Đặt khoảng cách trên cùng */
    right: 0; /* Đặt vị trí bên phải */
    width: 300px;
    cursor: pointer;
    font-size: 1.3rem; /* Đặt kích thước font */
    font-weight: bold; /* Đặt độ đậm cho font */
}

.notification-popup p {
    margin: 5px 0;
}

.notification-container {
    position: relative; /* Đặt vị trí của container */
}


/*Noidungthongbao*/
.notification-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ccc; /* Đường viền nhỏ giữa các dòng */
    padding-bottom: 10px; /* Khoảng cách dưới cùng */
    margin-top: 30px; /* Khoảng cách trên cùng */
}

.notification-icon-nd {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%; /* Bo tròn ảnh */
    margin-right: 10px; /* Khoảng cách giữa ảnh và văn bản */
}

.notification-link {
    color: black;
    font-weight: bold;
}

.close-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%; /* Hình dạng bo tròn */
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px; /* Căn phải */
    top: 10px;
}

    .close-button:hover {
        background-color: darkred; /* Màu nền khi di chuột qua */
    }


/*Dịch vụ của chúng tôi*/
@media (max-width: 767px) {
    .dichvu-container {
        flex-direction: column;
        align-items: center;
    }

    .col-md-6.d-flex.flex-column.align-items-center {
        order: 2;
        margin-bottom: 2rem;
    }

    .col-md.d-flex.flex-column.align-items-center {
        order: 1;
        margin-bottom: 2rem;
    }

    .card {
        width: 100%; /* Đảm bảo rằng card chiếm toàn bộ chiều rộng */
        max-width: 100%; /* Ngăn không cho card trở nên quá lớn */
    }
}

.dichvu-container {
    background-image: url('imgtrangchu/hinhnen20.png');
    background-size: cover;
    background-position: center;
    height: auto;
    margin-bottom: 8rem;
    text-align: center;
    margin-top: 100px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.0rem;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin-bottom: 30px;
}

.text1 {
    font-family: 'Open Sans'sans-serif;
    text-align: center;
    color: black;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 4px;
}

.button-primary1 {
    position: relative;
    background-color: #208095;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    transition: color 0.3s ease-in;
    z-index: 1;
}

    .button-primary1:hover {
        color: #208095;
        text-decoration: none;
    }

    .button-primary1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-color: #fff;
        border-radius: 4px;
        opacity: 0;
        -webkit-transform: scaleX(0.8);
        -ms-transform: scaleX(0.8);
        transform: scaleX(0.8);
        transition: all 0.3s ease-in;
        z-index: -1;
    }

    .button-primary1:hover::after {
        opacity: 1;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

.card1 {
    background-color: #fff; /* Màu nền trắng */
    padding: 20px; /* Khoảng cách lề */
    border-radius: 10px; /* Bo tròn góc */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

.package-item-detail {
    text-align: center; /* Canh giữa nội dung */
    padding: 15px; /* Khoảng cách giữa các phần tử bên trong */
}

.package-item-price {
    font-size: 1.5rem; /* Kích thước chữ số tiền */
    font-weight: bold; /* Đậm chữ số tiền */
    margin-bottom: 10px; /* Khoảng cách với phần tử tiếp theo */
    background-color: #66b2ff;
    border-radius: 5px;
    color: #ffffff; /* Màu chữ */
    height: 45px;
}

.package-item-title {
    font-size: 1.2rem; /* Kích thước tiêu đề */
    margin-bottom: 10px; /* Khoảng cách với phần tử tiếp theo */
}

.package-item-meta {
    margin-top: 10px; /* Khoảng cách từ phần tử tiêu đề */
}

.package-item-gender {
    font-style: italic; /* Font chữ in nghiêng */
}

.plus-icon-container {
    position: relative; /* Định vị tương đối */
}

.actions1 {
    /* Thêm CSS cho hành động nút plus */
}

.package-item-photo img {
    transition: transform 0.3s ease; /* Hiệu ứng chuyển động */
}

.package-item-photo:hover img,
.package-item-photo:focus img {
    transform: scale(1.1); /* Phóng to hình ảnh khi hover hoặc focus */
}


/*Vì sao chọn chúng tôi*/

.card {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    color: black;
}

    .card:hover {
        background-color: #66b2ff;
        color: #fff;
    }

    .card .col-md-4 img {
        max-width: 100%;
        max-height: 100%;
    }

    .card .col-md-8 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .card .col-md-8 .card-body h5 {
            font-size: 2.0rem;
        }

        .card .col-md-8 .card-body p {
            max-height: 100%;
            overflow: hidden;
        }

    .card .row.g-0 {
        width: 100%;
    }

    .card:hover {
        transform: scale(1.05);
    }

.row.with-background {
    background-image: url('imgtrangchu/hinhnen10.png'); /* Đặt đường dẫn đến hình nền của bạn */
    background-size: cover; /* Đảm bảo hình nền đầy đủ kích thước */
    background-position: center; /* Căn giữa hình nền */
    color: #fff; /* Màu chữ trên hình nền (nếu bạn muốn) */
}

.card.with-background .card-body {
    padding: 20px; /* Thêm padding vào nội dung card để không bị mất nội dung vào hình nền */
}

/*Tin tức mỗi ngày*/
.post-item-info {
    height: 450px;
}

.post-item-photo {
    overflow: hidden;
    position: relative;
    border-top-width: 5px;
}

    .post-item-photo img {
        transition: transform 0.3s ease-in-out;
    }

    .post-item-photo:hover img {
        transform: scale(1.1); /* hoặc giá trị khác tùy thuộc vào mong muốn của bạn */
    }

.post-item-details {
    background-color: #fdfdfd; /* Chọn màu nền mong muốn */
    border: 2px solid #e0e0e0; /* Chọn màu đường viền mong muốn và kích thước đường viền */
    padding: 10px; /* Tăng khoảng cách giữa nội dung và đường viền */
}

    .post-item-details h3 {
        margin: 0px;
        height: 100px;
    }

.post-item-title {
    font-size: 1.4rem;
    margin: 0px;
}

i {
    font-size: 24px; /* Kích thước */
    display: inline-block;
    vertical-align: middle;
}
/*Lợi ích của việc lấy máu tại nhà*/

.col-md-6 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.col-md-6 {
    margin-bottom: 20px;
}

.arrow-list {
    list-style: none;
    padding: 0;
    margin: 18px;
}

.arrow-list-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #f8f9fa; /* Đặt màu nền mong muốn của bạn */
    margin-bottom: 40px;
    transition: background-color 0.4s ease;
}

    .arrow-list-item img {
        width: 40px;
        margin-right: 15px;
    }

    .arrow-list-item p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        margin: 10px;
        color: #fdfdfd;
    }

    .arrow-list-item:nth-child(1) {
        background-color: #ff13a9; /* Màu vàng */
    }

    .arrow-list-item:nth-child(2) {
        background-color: #28a745; /* Màu xanh lá cây */
    }

    .arrow-list-item:nth-child(3) {
        background-color: #007bff; /* Màu xanh da trời */
    }

    /* Hover effect */
    .arrow-list-item:hover {
        background-color: #bab3bf; /* Màu mới khi di chuột qua */
    }


/*Liên hệ đặt lịch*/
.overlay1 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Điều chỉnh độ mờ của overlay tại đây */
    height: auto;
    /*background-image: url('imgtrangchu/hinhnen17.png');*/
    background-image: url('imgtrangchu/hinhnen21.png');
    background-size: cover;
    background-position: center;
}

.textdatlich {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}

h1 {
    margin-bottom: 1.0em;
    line-height: 1.6;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 420;
    font-size: 1.6rem;
    text-align: center;
    color: #fdfdfd;
    font-weight: 800;
}

.logo-container {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .logo-container img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }

.col-md-6 h1 i {
    width: 50px; /* Đặt chiều rộng của nút icon */
    font-size: 1.9rem;
}

.button1 {
    display: flex;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 4px;
    text-align: center;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
}

.button-primary2 {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    transition: color 0.3s ease-in;
    z-index: 1;
    display: flex;
    justify-content: center;
}

    .button-primary2:hover {
        color: #c0ca33;
        text-decoration: none;
    }

    .button-primary2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-color: #fff;
        border-radius: 4px;
        opacity: 0;
        -webkit-transform: scaleX(0.8);
        -ms-transform: scaleX(0.8);
        transform: scaleX(0.8);
        transition: all 0.3s ease-in;
        z-index: -1;
    }

    .button-primary2:hover::after {
        opacity: 1;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

/*quy trinh dat lich*/
.card2 {
    background-image: url('imgtrangchu/hinhnen19.png');
    background-size: cover; /* Đảm bảo hình nền được phủ toàn bộ phần nền */
    background-position: center; /* Căn giữa hình nền */
    padding: 0px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

h3 {
    font-size: 2.1rem;
    margin-bottom: 1.5em;
    line-height: 1.6;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: black;
}

.card-text1 {
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
}

.card-title1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 28px;
    margin: 5px;
    color: #fff;
    text-align: center;
}

.card-header {
    height: 50px;
    background-color: #208095;
}

.card-body1 {
    height: 92px;
    padding: 20px;
}

.img-fluid rounded-start {
    border-radius: 5px;
}


/* Liên hệ - địa chỉ goodMap*/
.overlay2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Điều chỉnh độ mờ của overlay tại đây */
    /*background-image: url('imgtrangchu/hinhnen23.png');*/
    background-color: #208095;
    background-size: cover;
    background-position: center;
    height: auto;
}

.guithongtin {
    width: 300px;
    color: #fff;
}

    .guithongtin h2 {
        margin-top: 20px;
        font-size: 2.4rem;
        margin-bottom: 40px;
    }

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 4px;
    height: 50px;
    width: 100px;
    text-align: center;
}

.btn-primary {
    position: relative;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}

    .btn-primary:hover {
        color: #208095;
        text-decoration: none;
    }

    .btn-primary::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-color: #fff;
        border-radius: 4px;
        opacity: 0;
        -webkit-transform: scaleX(0.8);
        -ms-transform: scaleX(0.8);
        transform: scaleX(0.8);
        transition: all 0.3s ease-in;
        z-index: -1;
    }

    .btn-primary:hover::after {
        opacity: 1;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }


.form-container {
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    flex-direction: column; /* Căn nội dung dọc theo trục chính */
}

.button-cell {
    display: flex; /* Sử dụng flexbox cho nút "Gửi" */
    justify-content: center; /* Căn nút "Gửi" ra giữa */
    margin-top: 20px; /* Khoảng cách trên của nút "Gửi" */
}

.Map {
    margin-top: 20px;
    color: #fff;
    font-size: 1.5rem;
}

.map-container {
    max-width: 100%; /* Đảm bảo iframe không vượt quá chiều rộng của cột */
    margin-top: 70px; /* Khoảng cách trên giữa iframe và văn bản dưới nó */
}

    .map-container iframe {
        width: 100%; /* Đảm bảo iframe chiếm toàn bộ chiều rộng của phần tử cha */
        height: 400px; /* Đặt chiều cao của iframe */
    }

